.village-container {
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 600px;
	overflow: hidden;
	border: 5px solid;
	border-radius: 10px;
}

.village-container-header {
	margin: 0 auto;
	width: 600px;
	padding-right: 0;
}

.village-container-header .mdl-tooltip {
	margin: 0 auto;
	width: 600px;
	padding-right: 0;
}

.village-container-header i {
	background-color: #8B9B0D;
	cursor: pointer;
}

.village {
	position: relative;
	margin: auto;
	width: 600px;
	height: 600px;
	background-image: url('/images/village.png');
	background-size: 600px 600px;
	cursor: pointer;
}

.village-loading {
	width: 40px;
	margin: 0 auto;
}

.village-loading div {
	background-color: white;
}


